/* ฟอร์ม */
.search-form {
  width: 1200px;
  min-width: none;
  max-width: none;
  /* position: absolute; */
  justify-content: center;
  /* margin-left: 100px; */
  display: flex;
  flex-direction: row;
}

/* ช่องกรอกข้อมูล */
.search-input {
  /* padding: 0 90px 0 20px;  */
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #3c3c3c;
  color: #ffffff;
  border: 1px solid #ff6c00;
  outline: none;
  width: 1000px;
  height: 40px;
  font-size: 1rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* border: 1px solid #d1d5db; */
  text-overflow: ellipsis;

  


}

/* ปุ่มค้นหาภายในช่อง */
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;

  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  
}

/* ไอคอนค้นหา */
.search-icon i {
  color: #ff6c00;
  font-size: 1.2rem;
}

/* ปุ่มตัวเลื่อน */
.Slider-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

/* ไอคอนตัวเลื่อน */
.slider-icon {
  color: #ff6c00;
  font-size: 1.2rem;
}
