.stats {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  font-family: 'Roboto';
}

.statsContainer {
  width: 1125px;
  /* background-color: red; */
  /* border: black 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}


.statsContainer1 {
  align-items: center;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  /* background-color: green; */
  /* border: #E14E15 1px solid; */
  flex-wrap: wrap;
}

.statsContainer2 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  /* background-color: green; */
  /* border: #E14E15 1px solid; */
  flex-wrap: wrap;
}



.BarChartContainer {
  margin-top: 50px;
  width: 1105px;
  height: 415px;
  justify-items: center;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: #373A40;
  border-radius: 20px;

}

.DoughnutChartContainer {
  width: 496px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  background-color: #373A40;
  border-radius: 20px;
  height: 100%;
  min-height: 550px;
}

.DoughnutChartText {
 color: white;
 text-align: center;
 margin-top: 20px;
 font-size: 40px;
 padding-bottom: 40px;
}
.DoughnutChartBg {
  margin-left: 65px;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: azure; */
}

.boxStats {
  width: 260px;
  height: 120px;
  background-color: #373A40;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.textStatsTopic {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  /* border: #E14E15 0.125rem solid; */
}

.textStatsNum {
  /* margin-top: 5px; */
  margin-bottom: 10px;
  /* border: #E14E15 0.125rem solid; */
  font-size: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}