

.container{
    width: 100%;
    height: 100%;
    max-width: 1700px;
    max-height: 750px;
    min-width: none;
    min-height: none;
    display: flex;
    justify-content: center; /* จัดกลางแนวนอน */
    align-items: center; /* จัดกลางแนวตั้ง */
    font-family: 'Roboto';
    
}

.profile-container {
    width: 100%;
    height: 100%;
    min-width: 1700px;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373A40;
    border: 5px solid #E14E15;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin-top: -2rem;
}

.profile-content-1{
    width: 50%;
    height: 100%;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 50px;
    border: #E14E15 5px solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-content-2{
    width: 100%;
    height: 100%;
    /* border: blue 1px solid; */
}

.photo{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.box-1{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FF8539;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    font-size: 20px;
    justify-content: center;
}

.button-box-1{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FF8539;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    font-size: 20px;
    justify-content: center;
    border: none;
}

.user-profile{
    /* margin-top: 60px; */
    display: flex;
    flex-direction: column;
    /* border: white 2px solid; */
}

.text-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 35px;
    margin-left: 75px;

}

.text-left{
    display: flex;
    /* background-color: antiquewhite; */
    margin-left: 150px;
    width: 180px;
    font-size: 28px;
}

.text-right{
    margin-left: 150px;
    display: flex;
    font-size: 28px;
    /* background-color: #FF8539; */
}