

/* แทบค้นหา */
.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 12%; 
  left: 20%; 
}

/* ตาราง */
.table-wrapper {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;  
  width: 100%;
  max-width: 1800px;
  height: 100%;
  max-height: 600px;
  overflow-y: auto;
  word-wrap: break-word;
  display: block;
  background-color: #373a40;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(36, 24, 24, 0.1);
  margin-top: 50px;
  border: 2px solid #ff6c00;


}

/* สไตล์สำหรับเอกสารที่ยังไม่อ่าน */
.row-unread {
  background-color: #373a40;
  font-weight: 900; 
}

/* สไตล์สำหรับเอกสารที่อ่านแล้ว */
.row-read {
  background-color: #373a40;
  font-weight: 100; 
}


/* ตกแต่ง track ของ scrollbar */
.table-wrapper::-webkit-scrollbar-track {
  background-color: #373a40; 
  border-radius: 10px;
}

/* ตกแต่ง thumb (ตัวเลื่อน) ของ scrollbar */
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #373a40; 
  border-radius: 10px;
  border: 3px solid #373a40; 
}

/* เปลี่ยนสีเมื่อ hover ที่ scrollbar */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #D9D9D9;
}

/* สำหรับ Firefox */
.table-wrapper {
  scrollbar-color: #D9D9D9 #373a40; 
  scrollbar-width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.icon-button {
  background: none; 
  border: none; 
  color: black; 
  font-size: 18px; 
  cursor: pointer; 
}

.icon-button:hover {
  color: #555; 
}





table tbody tr {
  cursor: pointer;
  transition: background-color 0.3s ease;
} 


table tbody tr:hover {
  background-color: rgba(255, 108, 0, 0.1);
}

/* การตกแต่ง th */
th {
  background-color: #ff8539;
  color: black;
  padding: 1rem;
  font-weight: 600;
  text-align: left;
  position: sticky;  
  top: 0px; 
  z-index: 1; 
  border-bottom: 2px solid #ff6c00; 
}

/* การตกแต่ง td */
td {
  color: #fff;
  padding: 1rem;
  border-top: 1px solid rgba(255, 108, 0, 0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.table-container .table-wrapper table th {
  background-color: #ff8539 !important;
  color: black !important;
}

.table-container .table-wrapper table td {
  background-color: #3c3c3c;
  color: #ffffff !important;
  
}
.list-button{
  color: white;
}


.dropdown {
  margin-top: 10px;
}

