/* pages/Home/Homepage.css */
body.homepage-background {
  background-image: url('/home.png');  
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
}

.homepage-content {
  padding: 3rem;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  height: 750px;
  max-height: 750px;
  background: rgba(55, 58, 64, 0.5);
  box-shadow: 5px 5px 50px 25px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
}

.homepage-content h1 {
  font-size: 4rem;  
  margin-bottom: 1rem;
}

.homepage-content p {
  font-size: 1.5rem;  
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.homepage-content button {
  color: white;
  font-size: 1.2rem;  
  padding: 1rem 2rem;  
  width: auto;
  height: 60px;
  border: none;
  cursor: pointer;
  background: #FF8539;
  box-shadow: 5px 3px 4px rgba(2, 2, 2, 0.3);
  border-radius: 100px;
  margin-top: 5rem;
}

.homepage-content button:hover {
  background-color: #535bf2;
}
